<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>QSTwitter</string>
	<key>CFBundleIconFile</key>
	<string>QSTwit</string>
	<key>CFBundleIdentifier</key>
	<string>com.qsapp.QSTwit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Twitter Plugin</string>
	<key>CFBundleDisplayName</key>
	<string>Twitter Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>82</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>NSPrincipalClass</key>
	<string>QSTwitterUtil</string>
	<key>QSActions</key>
	<dict>
		<key>sendTweet</key>
		<dict>
			<key>actionClass</key>
			<string>QSTwitterAction</string>
			<key>actionSelector</key>
			<string>sendTweet:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>QSTwit</string>
			<key>name</key>
			<string>Tweet</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>sendDirectMessageTo</key>
		<dict>
			<key>actionClass</key>
			<string>QSTwitterAction</string>
			<key>actionSelector</key>
			<string>sendDirectMessage:toContact:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>indirectTypes</key>
			<array>
				<string>ABPeopleUIDsPboardType</string>
			</array>
			<key>icon</key>
			<string>QSTwit</string>
			<key>name</key>
			<string>Send Direct Message To...</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>sendMessageTo</key>
		<dict>
			<key>actionClass</key>
			<string>QSTwitterAction</string>
			<key>actionSelector</key>
			<string>sendMessage:toContact:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>indirectTypes</key>
			<array>
				<string>ABPeopleUIDsPboardType</string>
			</array>
			<key>icon</key>
			<string>QSTwit</string>
			<key>name</key>
			<string>Send Tweet To...</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>sendDirectMessage</key>
		<dict>
			<key>actionClass</key>
			<string>QSTwitterAction</string>
			<key>actionSelector</key>
			<string>sendDirectMessage:toContact:</string>
			<key>reverseArguments</key>
			<true/>
			<key>directTypes</key>
			<array>
				<string>ABPeopleUIDsPboardType</string>
			</array>
			<key>indirectTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>QSTwit</string>
			<key>name</key>
			<string>Send Direct Message…</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>sendMessage</key>
		<dict>
			<key>actionClass</key>
			<string>QSTwitterAction</string>
			<key>actionSelector</key>
			<string>sendMessage:toContact:</string>
			<key>directTypes</key>
			<array>
				<string>ABPeopleUIDsPboardType</string>
			</array>
			<key>indirectTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>QSTwit</string>
			<key>reverseArguments</key>
			<true/>
			<key>name</key>
			<string>Send Tweet…</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Masato Igarashi</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
			<string>Web</string>
		</array>
		<key>description</key>
		<string>Posts a Tweet to your twitter account</string>
		<key>icon</key>
		<string>QSTwit</string>
		<key>relatedBundles</key>
		<array>
			<string>com.twitter.twitter-mac</string>
			<string>com.iconfactory.Twitterrific</string>
		</array>
	</dict>
	<key>QSPresetAdditionsTemplate</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetTwitter</string>
			<key>name</key>
			<string>Twitter</string>
			<key>source</key>
			<string>TwitterSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSTwitterAction</key>
			<string>QSTwitterAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.whatever</key>
			<string>TwitterSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>TwitterType</key>
			<string>TwitterSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>TwitterSource</key>
			<string>TwitterSource</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSTwitterPrefPane</key>
			<dict>
				<key>class</key>
				<string>QSTwitterPrefPane</string>
				<key>description</key>
				<string>Twitter Preferences</string>
				<key>icon</key>
				<string>QSTwit</string>
				<key>name</key>
				<string>Twitter</string>
				<key>nibBundle</key>
				<string>com.qsapp.QSTwit</string>
				<key>nibName</key>
				<string>QSTwitterPrefPane</string>
			</dict>
		</dict>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>QSTwit</key>
		<dict>
			<key>bundle</key>
			<string>com.qsapp.QSTwit</string>
			<key>resource</key>
			<string>QSTwit.icns</string>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>version</key>
		<string>4000</string>
	</dict>
</dict>
</plist>
